body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #0a1f44, #000000);
  color: #fff;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  z-index: 1000;
}

.logo {
  background: url("./images/logo.png") no-repeat center;
  background-size: contain;
  width: 120px;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  color: #fff;
  border-bottom: 2px solid #ff9800;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
}

.hero-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}

.hero-content h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #ddd;
}

.hero-content h1 {
  margin: 0.2rem 0;
  font-size: 2.5rem;
}

.hero-content p {
  font-size: 1.2rem;
  color: #ccc;
}

.highlight {
  color: #ff9800;
}

/* About */
#about {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#about h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

#about p {
  font-size: 1rem;
  color: #fff;
  line-height: 2rem;
}

/* Achievements */
#achievements {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

#achievements h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#achievements span {
  color: orange;
}

#achievements h3 {
  color: orange;
}

.achievement {
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.achievement:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 18px rgba(255, 165, 0, 0.6);
}

.achievement h3 {
  font-size: 1rem;
}

.achievement .desc {
  font-size: 0.9rem;
  color: #ddd;
}

/* Skills */
#skills {
  text-align: center;
  max-width: 900px;
  margin: 4rem auto;
  padding: 1rem;
}

#skills h2 {
  color: orange;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 25px;
}

.skill-box {
  padding: 15px;
  background: #1a1a1a;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


/* Contact */
#contact {
  text-align: center;
  padding: 2rem 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-links a {
  font-size: 2rem;
  color: white;
  transition: 0.3s ease;
}

.contact-links a:hover {
  color: #aaa;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #aaa;
}
